<style>
    .footer {
    height: 6vh;
    display: flex;
    align-items: center;
    background-color: black;
    font-family: Times New Roman
    }

    .about-us {
    margin-left: 2%;
    color: white;
    font-size: 0.8vw;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    }

    .r2025 {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    }

    .r2025 p {
    margin-right: 2%;
    color: white;
    font-size: 0.8vw;
    font-weight: 400;
    }
</style>

<div class="footer">
    <a class="about-us" href="/aboutUs" target="_blank">О нас</a>
    <a class="about-us" href="/policy" target="_blank">Условия пользования</a>
    <div class="r2025">
        <p>© 2025 - Все права защищены</p>
    </div>
</div>

@code {

}
