<style>
    .footer {
        height: 6vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        font-family: Tahoma
    }

    .footer p {
        font-size: 1vw;
        font-weight: 500;
        color: white
    }

</style>

<div class="footer">
    <p>© 2025 Cassowary .NET</p>
</div>

@code {

}