<style>
    .item-popup {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 25%;
        bottom: 25%;
        left: 30%;
        right: 30%;
        background-color: whitesmoke;
        border-radius: 0.5vw;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
        overflow: hidden
    }

        .item-popup p {
            margin: 2vh 0;
            font-size: 1vw;
            font-weight: 600
        }
        
    

    .item-field-cnt {
        display: flex;
        flex: 1;
        width: 100%;
        flex-wrap: wrap;
        background-color: gainsboro;
        justify-content: space-between;
    }

    .photo-cnt {
        margin: 1vh 2vw;
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 2vh
    }

        .photo-cnt button {
            height: 4vh;
            border: 1px solid olive;
            background-color: olive;
            color: white;
            font-weight: 600;
            font-size: 0.8vw;
            margin: 0 0 0 1vw;
            padding: 0 0.5vw;
            border-radius: 0.3vw;
            transition: 0.2s;
            cursor: pointer
        }

            .photo-cnt button:hover {
                border: 1px solid darkolivegreen;
                background-color: darkolivegreen
            }

        .photo-cnt img {
            width: 5vw;
            height: 5vw;
            object-fit: cover;
            object-position: center
        }


    .item-input-cnt {
        margin: 1vh 2vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start
    }

        .item-input-cnt p {
            margin: 0 0 1vh 0;
            font-size: 0.8vw;
            font-weight: 600
        }

        .item-input-cnt input, .item-input-cnt select {
            width: 100%;
            font-size: 0.8vw;
            font-weight: 600;
            height: 4vh;
            padding: 0 0 0 1%;
            border-radius: 0;
            border: 1px solid black;
            margin: 0;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.5)
        }

            .item-input-cnt input:focus {
                border-color: indigo;
                outline: none
            }

    .button-cnt {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 1vw;
        height: 15%;
        width: 100%
    }

    .button-cnt-done, .button-cnt-cancel {
        height: 4vh;
        border: 1px solid indianred;
        background-color: indianred;
        color: white;
        font-weight: 600;
        font-size: 0.8vw;
        padding: 0 0.5vw;
        border-radius: 0.3vw;
        transition: 0.2s;
        cursor: pointer
    }

    .button-cnt-cancel {
        margin: 0 1vw 0 0;
        border: 1px solid lightblue;
        background-color: lightblue
    }

    .button-cnt-done:hover {
        background-color: red;
    }

    .button-cnt-cancel:hover {
        background-color: lightskyblue
    }

    .exit {
        position: absolute;
        top: 25px;
        right: 25px;
        width: 2vw;
        height: 2vw;
        cursor: pointer
    }
</style>

<div class="item-popup" style="display:@(isVisible ? "flex" : "none")">
    <p>Новый товар</p>
    <div class="item-field-cnt">
        <div class="photo-cnt"> 
            <img src="images/peak.jpg" />
            <button>Изменить</button>
        </div>
        <div class="item-input-cnt" style="width: 50%">
            <p>Наименование</p>
            <input />
        </div>
        <div class="item-input-cnt" style="width: 35%">
            <p>Тип</p>
            <select>
                <option>Маршрутизатор</option>
                <option>ТВ-приставка</option>
                <option>Видеокамера</option>
            </select>
        </div>
        <div class="item-input-cnt" style="width: 35%">
            <p>Стоимость</p>
            <input />
        </div>
        <div class="item-input-cnt" style="width: 100%">
            <p>Описание</p>
            <input />
        </div>
    </div>
    <div class="button-cnt">
        <button class="button-cnt-done">Добавить</button>
        <button class="button-cnt-cancel" @onclick="Close">Отмена</button>
    </div>
    <img class="exit" src="images/exit.png" @onclick="Close" />
</div>

@code {
    [Parameter] public bool isVisible { get; set; }
    [Parameter] public EventCallback isVisibleChanged { get; set; }

    private void Close() => isVisibleChanged.InvokeAsync();
}
