@page "/aboutUs"

<link href="css/us.css" rel="stylesheet" />
<Header_v2 />
<div class="main">
    <Back openPage="openMain" />
    <p class="title">О Cassowary .NET</p>
    <div class="presentation">
        <img src="images/office.jpg" />
        <div class="text">
            <p>Мы — один из ведущих российских операторов связи.</p>
            <p>Cassowary .NET предоставляет магистральные услуги связи для операторов и крупнейших корпораций России, а также входит в число лидеров среди провайдеров услуг широкополосного доступа в Интернет, телевидения и телефонии для частных пользователей в регионах.</p>
            <p>Компания активно участвует в процессах цифровой трансформации транспортно-логистической отрасли. Cassowary .NET обеспечивает транспортные предприятия услугами связи и высокоскоростных корпоративных сетей, а также занимается развитием и эксплуатацией инфраструктуры систем связи и транспортной безопасности.</p>
            <p>Cassowary .NET развивает новые направления, включая дистанционное обслуживание клиентов, внедрение систем видеонаблюдения и видеоаналитики, технологии искусственного интеллекта, а также создание решений в области транспортной телематики и цифровой контрольной инфраструктуры.</p>
        </div>
    </div>
</div>
<Footer_v2 />

@code {
    private void openMain() => NavManager.NavigateTo("main");
}
